@import url(./base.css);
@import url(../icomoon/style.css);
body {
  direction: rtl;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.header-slider .carousel__prev,
.header-slider .carousel__next {
  background: white !important;
  padding: 25px 0 !important;
  border-radius: 5px !important;
}
.home-chart-navigation .carousel__prev,
.carousel__next {
  background: transparent !important;
}
.home-chart-navigation.carousel__next {
  left: -35px !important;
  color: gray !important;
}
.home-chart-navigation.carousel__prev {
  right: -35px !important;
  color: gray !important;
}
.navigation-news.carousel__prev,
.navigation-news.carousel__next {
  background: rgb(223, 219, 219) !important;
  border-radius: 50% !important;
}
